{% extends "reservation_app/base.html" %} 
{% load crispy_forms_tags %}

{% block content %}

<h1>Documentos identificativos</h1>

<div class="row">
  {% for image in images %}

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <img src="{{ image.image.url }}" class="card-img-top" />
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<h5>Añadir documento</h5>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %} 
  {{ form|crispy }}

  <button type="submit">Confirmar</button>
</form>

{% endblock %}
