{% extends "reservation_app/base.html" %} {% block content %}
<div class="container text-center my-5 min-vh-100">
  <h1 class="display-4">Bienvenido a LodgeRover</h1>
  <p class="lead">Tu sistema de gestión de reservas turísticas</p>

  <div class="row justify-content-center mt-5">
    {% if user.is_authenticated %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reservas</h5>
          <p class="card-text">Gestiona tus reservas</p>
          <a href="{% url 'show_reservations' %}" class="btn btn-success"
            >Ver reservas</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ocupación</h5>
          <p class="card-text">Consulta los alojamientos disponibles</p>
          <a href="{% url 'show_rooms' %}" class="btn btn-success"
            >Ver habitaciones</a
          >
        </div>
      </div>
    </div>

    {% if user.is_staff %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clientes</h5>
          <p class="card-text">Gestiona los clientes</p>
          <a href="{% url 'show_customers' %}" class="btn btn-success"
            >Ver clientes</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Panel de administración</h5>
          <p class="card-text">Accede a los controles de la aplicación</p>
          <a href="/admin" class="btn btn-success">Administración</a>
        </div>
      </div>
    </div>

    {% endif %} 
    {% if not user.is_staff %} 

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Editar usuario</h5>
          <p class="card-text">Modifica tus datos personales</p>
          <a href="{% url 'update_customer' user.customer.id %}" class="btn btn-success">Editar</a>
        </div>
      </div>
    </div>

    {% endif %}

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cerrar sesión</h5>
          <p class="card-text">Termina tu sesión en LodgeRover</p>
          <a href="/close" class="btn btn-success">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} 
{% endblock %}
